<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<!-- 配置Spring的用于初始化容器对象的监听器（上下文） 先配置先执行 
		1.spring如何创建对象?  
		   启动时加载classpath:applicationContext.xml,通过spring拦截器找到BeanFactoty通过xml解析去扫描所有配置文件中所有bean节点
		   ，创建对象，将类实例化。
	-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext*.xml</param-value>
	</context-param>
	
	<!--1、需要先获取注入的容器对象，用于做初始化工作的监听器，
	    2、一定要配置到Spring的ContextLoaderListener的后面
     -->
	<listener>
		<listener-class>com.smartlab.oa.util.InitListener</listener-class>
	</listener>
	


	<!-- 实现登陆权限拦截
		 1.配置Spring的用于解决懒加载问题的过滤器，只解决同一个请求的懒加载异常 
		 2.不同请求无法解决，只能关闭 lazy = 'false'
	-->
	<filter>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>


	<!-- 配置Struts2的核心的过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 欢迎页面 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>